@charset "utf-8";
/* CSS Document */

/*ie,firefox,chrome....*/
*{
	padding:0px;
	margin:0px;
	border-radius:0px;
}

#sub-menu{
	height:232px;
}

#sub-menu ul{
	list-style: none; 
	border-top: 1px solid #666;  
	height:32px;
}
#sub-menu ul  li {
	border-bottom: 1px solid #666;
	height:32px;
	background-color: #C6D580;
}
#sub-menu ul a, ul a:visited { 
	padding: 5px 5px 5px 15px;
	display: block; 
	width: 160px;  
	text-decoration: none;
}

#sub-menu ul a:hover, ul a:active, ul a:focus { 
	background-color: #ADB96E;
	height:22px;
	color: #FFF;
}

#sub-tkb{
	margin-top: 167px;
	height:80px;
}

#hello{
	margin-top: 20px;
	height:120px;
}

#title-cmt{
	margin-top: 164px;
	height:20px;
}

#cmt{
	margin-top: 10px;
	margin-bottom:140px;
	height:326px;
}

#if-tkb{
	height:400px;
	margin-top: 240px;
	margin-bottom:20px;
}